html {
  box-sizing: border-box; }

body {
  background-color: #111;
  color: #fff;
  font-family: Lato; }

.card-container {
  width: 20%;
  margin: 100px auto;
  perspective: 1000;
  position: relative; }

.card {
  text-align: center;
  width: 100%;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all .8s ease-in-out;
  padding: 40px 20px;
  position: absolute;
  top: 0;
  left: 0; }
  .card--front {
    background-color: teal;
    z-index: 100; }
  .card--back {
    background-color: pink;
    transform: rotateY(180deg);
    z-index: 10; }

.card-container:hover .card--front {
  transform: rotateY(-180deg); }

.card-container:hover .card--back {
  transform: rotateY(0deg);
  z-index: 200; }

h2 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
